
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 10%;
}
section {
    width: 20rem;
    height: 20rem;
    background: radial-gradient(circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7,
    #515ecf);
    border-radius: 30%;
    position: relative;
}
section::before {
    content: '';
    border: 1rem solid #fff;
    border-radius: 30%;
    width: 12.5rem;
    height: 12.5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
section::after {
    content: '';
  border: 1rem solid #fff;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;    
}
span{
    content: '';
    border: 1rem solid #fff;
    border-radius: 100%;
    width: 0;
    height: 0;
    right: 5rem;
    position: absolute;
    margin: auto;
    top: 5rem;
  }